form {
  background-color: rgb(244, 245, 245);
  margin: 0;
  padding: 50px;
  text-align: justify;
  min-height: 70vh;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

form h1 {
  font-family: cursive;
  margin: 0;
  margin-bottom: 30px;
}

form .form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

form .form-group label {
  font-size: 18px;
}
form .form-group input {
  width: 240px;
  padding: 10px;
  margin: 5px 0;
  border: none;
  border-bottom: 1px solid #ccc;
}

form.form-group input:focus {
  outline: none;
  border-bottom: 2px solid #000;
}

form button {
  padding: 10px 40px;
  margin: 5px 0;
  border: none;
  background-color: black;
  color: white;
  border-radius: 10px;
  font-weight: bold;
}

form button:hover {
  background-color: rgb(248, 157, 157);
  color: black;
}

textarea {
  width: 250px;
  padding: 10px;
  height: 100px;
  margin: 5px 0;
  border: none;
  border-bottom: 1px solid #ccc;
}

form p {
  margin: 0;
  margin-bottom: 20px;
}
